# F008
# Printer_size: 350x350x350
# Version: v1.0.0
# CreateDate: 2025/08/20
# FW: mot2_023_C30-mot2_002_072.bin

[motor_control]
overcurrent_switch: 0
switch: 1
retries: 4
cut_pos_offset: 0.4  # 切刀位置补偿系数 mm
motor_closed_loop: x,y,z,z1,e
motor_x_dir: PB9,0
motor_x_step: PB10,0
motor_x_stall: PB11
motor_y_dir: !PB7,0
motor_y_step: PB8,0
motor_y_stall: PB12
motor_z_dir: PB5,0
motor_z_step: PB6,1
motor_z_stall: PB13
motor_z1_dir: PA1,1
motor_z1_step: PB15,1
motor_z1_stall: PA10
motor_e_stall: nozzle_mcu:PB12

#/*** general param */
# x_param_stall_mode: 2
# x_param_stall_cur_A: 0.70
# x_param_stall_pos_err_rad: 0.012
# x_param_ud_cal_set: 0.15
# x_param_motion_dir: 1.0
# x_param_encoder_calibtate_official_ud_cal_set: 0.15

# motor param
# x_motor_param_R: 0.78
# x_motor_param_L: 0.0014
# x_motor_param_Ke: 0.098676

# controller param
# x_controller_param_en_feedforward_idiq: 1
# x_controller_param_en_feedforward_uduq: 1

# position loop PID param
x_controller_pos_loop_pid_param_kp: 100 

# speed loop PID param
x_controller_spd_loop_pid_param_kp: 0.028 
x_controller_spd_loop_pid_param_ki: 6.0 
# x_controller_spd_loop_pid_param_kc: 0.5
# x_controller_spd_loop_pid_fal_param_en: 0
# x_controller_spd_loop_pid_fal_param_a: 1.0
# x_controller_spd_loop_pid_fal_param_zoom: 0.1

# current loop PID param
x_controller_cur_loop_pid_param_kp: 2.5
x_controller_cur_loop_pid_param_ki: 200.0
# x_controller_cur_loop_pid_param_kc: 0.5
# x_controller_cur_loop_pid_fal_param_en: 0
# x_controller_cur_loop_pid_fal_param_a: 1.2
# x_controller_cur_loop_pid_fal_param_zoom: 0.25

# leso param
x_controller_leso_param_b0k: 1.0
x_controller_leso_param_z3k: 0
x_controller_leso_param_wp: 4000
x_controller_leso_param_ws: 4000
x_controller_leso_param_wd: 400

# fwc param
# x_controller_fwc_param_en: 1
# x_controller_fwc_param_I_max: 5.5
# x_controller_fwc_param_wm_base: 120

# current filter param
# x_controller_cur_filter_param_en: 0
# x_controller_cur_filter_param_fc: 6000

# protection param
# x_protection_param_protect_en: 1
# x_protection_param_prt_peak_cur_A: 999.0
# x_protection_param_prt_continuous_cur_A: 4.0
# x_protection_param_prt_continuous_time_s: 1.0
# x_protection_param_prt_over_speed_rad_s: 314.159271
# x_protection_param_prt_over_speed_time_s: 0.1
x_protection_param_prt_track_max_err: 0.3
x_protection_param_prt_track_err_time: 0.1
# x_protection_param_power_voltage_min: 20.0
# x_protection_param_mcu_temp_max: 115.0

# step controller param
# x_step_controller_param_subdivision: 16

# communication interface param
# x_cmd_int_param_char_cmd_support: 1

# zazen mode param
# x_zazen_param_zazen_en: 1
# x_zazen_param_zazen_trigger_time_s: 1.0
# x_zazen_param_zazen_gain_spd_kp: 0.7
# x_zazen_param_zazen_gain_spd_ki: 1.0
# x_zazen_param_zazen_gain_cur_kp: 1.0
# x_zazen_param_zazen_gain_cur_ki: 1.0

# slicer param
x_stall_pos_err_rad_for_slicer: 0.016375

#/*** general param */
# y_param_stall_mode: 2
# y_param_stall_cur_A: 0.70
# y_param_stall_pos_err_rad: 0.012
# y_param_ud_cal_set: 0.15
# y_param_motion_dir: 1.0
# y_param_encoder_calibtate_official_ud_cal_set: 0.15

# motor param
# y_motor_param_R: 0.78
# y_motor_param_L: 0.0014
# y_motor_param_Ke: 0.098676

# controller param
# y_controller_param_en_feedforward_idiq: 1
# y_controller_param_en_feedforward_uduq: 1

# position loop PID param
y_controller_pos_loop_pid_param_kp: 300 

# speed loop PID param
y_controller_spd_loop_pid_param_kp: 0.028 
y_controller_spd_loop_pid_param_ki: 6.0 
# y_controller_spd_loop_pid_param_kc: 0.5
# y_controller_spd_loop_pid_fal_param_en: 0
# y_controller_spd_loop_pid_fal_param_a: 1.0
# y_controller_spd_loop_pid_fal_param_zoom: 0.1

# current loop PID param
y_controller_cur_loop_pid_param_kp: 2.5
y_controller_cur_loop_pid_param_ki: 200.0
# y_controller_cur_loop_pid_param_kc: 0.5
# y_controller_cur_loop_pid_fal_param_en: 0
# y_controller_cur_loop_pid_fal_param_a: 1.2
# y_controller_cur_loop_pid_fal_param_zoom: 0.25

# leso param
y_controller_leso_param_b0k: 1.0
y_controller_leso_param_z3k: 0
y_controller_leso_param_wp: 4000
y_controller_leso_param_ws: 4000
y_controller_leso_param_wd: 400

# fwc param
# y_controller_fwc_param_en: 1
# y_controller_fwc_param_I_max: 5.5
# y_controller_fwc_param_wm_base: 120

# current filter param
# y_controller_cur_filter_param_en: 0
# y_controller_cur_filter_param_fc: 6000

# protection param
# y_protection_param_protect_en: 1
# y_protection_param_prt_peak_cur_A: 999.0
# y_protection_param_prt_continuous_cur_A: 4.0
# y_protection_param_prt_continuous_time_s: 1.0
# y_protection_param_prt_over_speed_rad_s: 314.159271
# y_protection_param_prt_over_speed_time_s: 0.1
y_protection_param_prt_track_max_err: 0.3
y_protection_param_prt_track_err_time: 0.1
# y_protection_param_power_voltage_min: 20.0
# y_protection_param_mcu_temp_max: 115.0

# step controller param
# y_step_controller_param_subdivision: 16

# communication interface param
# y_cmd_int_param_char_cmd_support: 1

# zazen mode param
# y_zazen_param_zazen_en: 1
# y_zazen_param_zazen_trigger_time_s: 1.0
# y_zazen_param_zazen_gain_spd_kp: 0.7
# y_zazen_param_zazen_gain_spd_ki: 1.0
# y_zazen_param_zazen_gain_cur_kp: 1.0
# y_zazen_param_zazen_gain_cur_ki: 1.0

# slicer param
y_stall_pos_err_rad_for_slicer: 0.016375

#/*** general param */
# z_param_stall_mode: 2
# z_param_stall_cur_A: 0.70
# z_param_stall_pos_err_rad: 0.012
# z_param_ud_cal_set: 0.15
# z_param_motion_dir: 1.0
# z_param_encoder_calibtate_official_ud_cal_set: 0.15

# motor param
# z_motor_param_R: 0.78
# z_motor_param_L: 0.0014
# z_motor_param_Ke: 0.098676

# controller param
# z_controller_param_en_feedforward_idiq: 1
# z_controller_param_en_feedforward_uduq: 1

# position loop PID param
z_controller_pos_loop_pid_param_kp: 100 

# speed loop PID param
z_controller_spd_loop_pid_param_kp: 0.035 
z_controller_spd_loop_pid_param_ki: 2.0 
# z_controller_spd_loop_pid_param_kc: 0.5
# z_controller_spd_loop_pid_fal_param_en: 0
# z_controller_spd_loop_pid_fal_param_a: 1.0
# z_controller_spd_loop_pid_fal_param_zoom: 0.1

# current loop PID param
z_controller_cur_loop_pid_param_kp: 2.5
z_controller_cur_loop_pid_param_ki: 200.0
# z_controller_cur_loop_pid_param_kc: 0.5
# z_controller_cur_loop_pid_fal_param_en: 0
# z_controller_cur_loop_pid_fal_param_a: 1.2
# z_controller_cur_loop_pid_fal_param_zoom: 0.25

# leso param
z_controller_leso_param_b0k: 1.0
z_controller_leso_param_z3k: 0
z_controller_leso_param_wp: 4000
z_controller_leso_param_ws: 4000
z_controller_leso_param_wd: 400

# fwc param
# z_controller_fwc_param_en: 1
# z_controller_fwc_param_I_max: 5.5
# z_controller_fwc_param_wm_base: 120

# current filter param
# z_controller_cur_filter_param_en: 0
# z_controller_cur_filter_param_fc: 6000

# protection param
# z_protection_param_protect_en: 1
# z_protection_param_prt_peak_cur_A: 999.0
# z_protection_param_prt_continuous_cur_A: 4.0
# z_protection_param_prt_continuous_time_s: 1.0
# z_protection_param_prt_over_speed_rad_s: 314.159271
# z_protection_param_prt_over_speed_time_s: 0.1
z_protection_param_prt_track_max_err: 0.3
z_protection_param_prt_track_err_time: 0.1
# z_protection_param_power_voltage_min: 20.0
# z_protection_param_mcu_temp_max: 115.0

# step controller param
# z_step_controller_param_subdivision: 16

# communication interface param
# z_cmd_int_param_char_cmd_support: 1

# zazen mode param
# z_zazen_param_zazen_en: 1
# z_zazen_param_zazen_trigger_time_s: 1.0
# z_zazen_param_zazen_gain_spd_kp: 0.7
# z_zazen_param_zazen_gain_spd_ki: 1.0
# z_zazen_param_zazen_gain_cur_kp: 1.0
# z_zazen_param_zazen_gain_cur_ki: 1.0


#/*** general param */
# z1_param_stall_mode: 2
# z1_param_stall_cur_A: 0.70
# z1_param_stall_pos_err_rad: 0.012
# z1_param_ud_cal_set: 0.15
# z1_param_motion_dir: 1.0
# z1_param_encoder_calibtate_official_ud_cal_set: 0.15

# motor param
# z1_motor_param_R: 0.78
# z1_motor_param_L: 0.0014
# z1_motor_param_Ke: 0.098676

# controller param
# z1_controller_param_en_feedforward_idiq: 1
# z1_controller_param_en_feedforward_uduq: 1

# position loop PID param
z1_controller_pos_loop_pid_param_kp: 100 

# speed loop PID param
z1_controller_spd_loop_pid_param_kp: 0.035 
z1_controller_spd_loop_pid_param_ki: 2.0 
# z1_controller_spd_loop_pid_param_kc: 0.5
# z1_controller_spd_loop_pid_fal_param_en: 0
# z1_controller_spd_loop_pid_fal_param_a: 1.0
# z1_controller_spd_loop_pid_fal_param_zoom: 0.1

# current loop PID param
z1_controller_cur_loop_pid_param_kp: 2.5
z1_controller_cur_loop_pid_param_ki: 200.0
# z1_controller_cur_loop_pid_param_kc: 0.5
# z1_controller_cur_loop_pid_fal_param_en: 0
# z1_controller_cur_loop_pid_fal_param_a: 1.2
# z1_controller_cur_loop_pid_fal_param_zoom: 0.25

# leso param
z1_controller_leso_param_b0k: 1.0
z1_controller_leso_param_z3k: 0
z1_controller_leso_param_wp: 4000
z1_controller_leso_param_ws: 4000
z1_controller_leso_param_wd: 400

# fwc param
# z1_controller_fwc_param_en: 1
# z1_controller_fwc_param_I_max: 5.5
# z1_controller_fwc_param_wm_base: 120

# current filter param
# z1_controller_cur_filter_param_en: 0
# z1_controller_cur_filter_param_fc: 6000

# protection param
# z1_protection_param_protect_en: 1
# z1_protection_param_prt_peak_cur_A: 999.0
# z1_protection_param_prt_continuous_cur_A: 4.0
# z1_protection_param_prt_continuous_time_s: 1.0
# z1_protection_param_prt_over_speed_rad_s: 314.159271
# z1_protection_param_prt_over_speed_time_s: 0.1
z1_protection_param_prt_track_max_err: 0.3
z1_protection_param_prt_track_err_time: 0.1
# z1_protection_param_power_voltage_min: 20.0
# z1_protection_param_mcu_temp_max: 115.0

# step controller param
# z1_step_controller_param_subdivision: 16

# communication interface param
# z1_cmd_int_param_char_cmd_support: 1

# zazen mode param
# z1_zazen_param_zazen_en: 1
# z1_zazen_param_zazen_trigger_time_s: 1.0
# z1_zazen_param_zazen_gain_spd_kp: 0.7
# z1_zazen_param_zazen_gain_spd_ki: 1.0
# z1_zazen_param_zazen_gain_cur_kp: 1.0
# z1_zazen_param_zazen_gain_cur_ki: 1.0